<div class="step-card">
  <div class="step-card__image">
    <%= step_name %>
  </div>
 <div class="step-card__content">
    <div class="step-card__content--header"><p><%#header %></p></div>
    <div class="step-card__content--sub-header"><p><%# subheader %></p></div>
    <img src=<%= "#{img_src}" %> alt = '' width="200px" height="200px">
    <h2 class ="step-card_content"></h2>
  <%= description %>



  </div>
</div>

<%# <%= testing %>
