<div class="footer">

  <div class="footer-top">
    <div>
      <div class="footerbody">
        The best islands that you can find in the all world
      </div>

      <div class ="footercountry">
          Where you find us?
      </div>

      <ul class="countries-list">
        <li>Asia</li>
        <li>Africa</li>
        <li>America</li>
      </ul>
    </div>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
