<div class="footer">

  <div class="footer-top">
    <div>
      <div class="footerbody">
        The best islands that you can find in the whole world
      </div>

      <div class ="footer-country">
          Where you to find us?
      </div>

      <ul class="countries-list">
       <div>
          <li>Asia</li>
          <li>Africa</li>
          <li>America</li>
          <li>Caribbean</li>
        </div>
        <div>
          <li>Europe</li>
          <li>United States </li>
          <li>South America </li>
          <li>South Pacific</li>
        </div>
      </ul>
    </div>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
