<div class="hero-image">
  <div class="hero-text">
      <div class="firsthead"><h1><strong>Looking for an Island?</strong></h1></div>
      <!--The centre text-->
      <div class="secondhead"><p><strong>A simplified way to rent the Island of your dreamds, right here, right now!</strong></p></div>
      <!--The centre text-->

      <div class="dropdown">
        <button class="dropbtn"><strong>Choose A Continent</strong></button>
        <div class="dropdown-content">
          <a href="#">Asia</a>
          <a href="#">Africa</a>
          <a href="#">Europe</a>
          <a href="#">North America</a>
          <a href="#">South America</a>
          <a href="#">Australia/Oceania</a>
          <a href="#">Antartica</a>
        </div>
      </div>

      <%# <div class="btn"><button class="btn1" style="margin:20px;"><strong>I have an island</strong></button><button class="btn2"><strong>I'm looking for an island</strong></button></div> %>
      <!--The part I want to change-->
    </div>
</div>
