<div class="hero-image">
  <div class="hero-text">
      <div class="firsthead"><h1>Looking for an Island?</h1></div>
      <!--The centre text-->
      <div class="secondhead"><p>A simplified way to rent the Island of your dreamds, right here, right now!</p></div>
      <!--The centre text-->
      <div class="btn1"><button>button1</button><button>button2</button></div>
      <!--The part I want to change-->
    </div>
</div>
