<%= render "shared/hero" %>
<%# <%= render "shared/card" %>
<div class="containt-body">
<h2 class = 'Title'>Find the island of your dreams</h2>
<p><center>IslandBoi is the dream of every soul that desires a restful vacation.
<br>
Wether you're a a loner or a family member, you can alway find peace in your private island.
<br>
We know that different times in life won't really allow you to buy your private island,
<br>
therefore we came with the idea of renting your own island for the exact time and dates that you are looking for.
</center></p>
</div>
<div class="carousels">
<p id="home-text" >These are the steps to rent the island of your dreams: </p>
<br>
<section class="carousel" aria-label="Gallery">


  <ol class="carousel__viewport">

    <li id="carousel__slide1" style="background-image: url('https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');"
        tabindex="0"
        class="carousel__slide">
        <div class="carousel__slide--content">
          <p> Register as a user </p>
        </div>
      <div class="carousel__snapper">
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2" style="background-image: url('https://media.istockphoto.com/photos/calendar-page-flipping-sheet-on-wood-table-background-business-picture-id1288509858?b=1&k=20&m=1288509858&s=170667a&w=0&h=YSB_acGyBTH8-gR87TbbQ5X4mYTVi-p6IxjzGM28RH8=');"
        tabindex="0"
        class="carousel__slide">
             <div class="carousel__slide--content">
          <p> Select the dates you want to go to your island  </p>
        </div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3" style="background-image: url('https://images.unsplash.com/photo-1587538716374-408bb1118e67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGlzbGFuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');"
        tabindex="0"
        class="carousel__slide">
             <div class="carousel__slide--content">
          <p> Select your island  </p>
        </div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4" style="background-image: url('https://media.istockphoto.com/photos/private-jet-on-airport-runway-picture-id1073242890?b=1&k=20&m=1073242890&s=170667a&w=0&h=X_7Sj3iXhKxRuSEWxPFUJnVAcVZ1AmG8eyaDjV3qFB4=');"
        tabindex="0"
        class="carousel__slide">
             <div class="carousel__slide--content">
          <p> Enjoy your trip </p>
        </div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section>
<%# <p class ="carousel-text" id="home-text"> These are the steps to rent out your precious island</p>

<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">

    <li id="carousel__slide5" style="background-image: url('https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');"
        tabindex="0"
        class="carousel__slide">
        <div class="carousel__slide--content">
          <p>  Register as an owner of an island </p>
        </div>
      <div class="carousel__snapper">
        <a href="#carousel__slide8"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide6"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide6" style="background-image: url('https://media.istockphoto.com/photos/calendar-page-flipping-sheet-on-wood-table-background-business-picture-id1288509858?b=1&k=20&m=1288509858&s=170667a&w=0&h=YSB_acGyBTH8-gR87TbbQ5X4mYTVi-p6IxjzGM28RH8=');"
        tabindex="0"
        class="carousel__slide">
             <div class="carousel__slide--content">
          <p>
          Select the dates you want to rent out your island   </p>
        </div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide5"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide7"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide7" style="background-image: url('https://images.unsplash.com/photo-1564846824194-346b7871b855?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29udHJhY3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');"
        tabindex="0"
        class="carousel__slide">
             <div class="carousel__slide--content">
          <p>sign a contract with the tenant of your island </p>
        </div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide6"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide8"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide8" style="background-image: url('https://images.unsplash.com/photo-1587538716374-408bb1118e67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGlzbGFuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');"
        tabindex="0"
        class="carousel__slide">
             <div class="carousel__slide--content">
          <p> Rent out your island</p>
        </div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide7"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide5"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide5"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide6"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide7"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide8"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section> %>
</div>
<div class="Island_owner">
<center>
<h1>Do you have an island you want to rent out?</h1>
<br>
<p>You can stop the lookout for clients!
<br>
IslandBoi allows you to literally find costumers to rent out your precsious Island!
</p>
<button class="btn1">I want to rent out my island</button>
</center>
</div>
