.card-body{
  margin-top: 16px;
}

h2{
  justify-content: center;
  font-family: monospace;
  display: flex;
  font-size: 2rem;
   line-height: 4;
  align-items: center;
  color: #90B494;
  text-transform: uppercase;
}

 .step-card{
   background-color: white;
 }
