.footer {
  background: #545775;
  height: auto;
  padding: 30px 50px;
  color: white
}

.footer-links{
  float: right;
}
.footer-links a{
  color: white;
  opacity: 9.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

body{
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color:#718F94;
  font-family: monospace;
}

.footerbody{
  background: #545775;
  display: flex;
  align-items: center;
  padding-bottom: 38px;
  color: white;
  font-family: monospace;
  text-transform: inherit;
  font-size: 26px;
}

.footer-country{
  font-size: 20px;
}
.countries-list {
  list-style: none;
  padding: 0;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  width: 55%;
}
