.hero-image {
  font-family: "Comic Sans MS";
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://media1.giphy.com/media/yNFsoLskwEBYA/giphy-downsized-large.gif);
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: black;
  text-align: center;
}

.firsthead {
  text-align: center;
  font-size: 60px;
  color: #DBCFB0;
  cursor: default;
  text-shadow: 0 0 black;
}

.secondhead {
  text-align: center;
  font-size: 25px;
  color: #FFF;
  cursor: default;
  text-shadow: 0 0 black;
}

.btn2 {
  background-color: #545775;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn2:hover,
.btn2:focus {
  background-color: #718F94;
}

.btn2:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn2:active {
  background-color: #0064bd;
  box-shadow: none;
}

.btn1 {
  background-color: #DBCFB0;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn1:hover,
.btn1:focus {
  background-color: #718F94;
}

.btn1:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn1:active {
  background-color: #0064bd;
  box-shadow: none;
}

.dropbtn {
  font-family: Luminari;
  background-color: #DBCFB0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #BFC8AD;
}
