.islandesc {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.descitems {
  display: flex;
  justify-content: flex-start;
}

.spic {
  height: 400px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.descitems h4 {
  text-align: center;
  color: black;
}

.ititle {
  color: black;
  text-align: left;
  font-size: 24px;
  margin: 32px;
  padding: 32px;
}

.description {
  font-size: 14px;
  text-align: left;
  margin: 16px;
  padding: 16px;
}

.descitems .spic2 {
  height: 180px;
  border-bottom-right-radius: 40px;
}

.descitems .spic1 {
  height: 180px;
  border-top-right-radius: 40px;
}

.islandesc h1 {
  color: black;
  text-align: center
}

.islandesc img {
  margin: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.islandesc h4 {
  padding: 8px;
  margin: 8px;
  color: black;
  font-size: 18px;
}

.islandact {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
