.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  // color: white;
  color: lightgrey;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  // color: white;
}

// .dropdown-item {
//   color: white;
// }

.dropdown {
  margin: auto;
}

.dropdown-item:hover {
  color: white;
  background-color: transparent;
}

.hamburger::after {
  display: none;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
