.search-bar {
  display: flex;
  width: 400px;
}


.btn-primary {
  border-radius: 45px;
  color: #545775;
  background-color: white;
   border-color: #545775;
}

.btn-primary:hover {
  color: #fff;
  background-color: #545775;
  border-color: #545775;
}
